<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <!-- Brand Logo and Title -->
    <a class="navbar-brand position-relative" href="#">
      <img src="https://w7.pngwing.com/pngs/1007/65/png-transparent-camera-colorful-diaphragm-film-icon-lens-photography-picture-shiny-shutter-thumbnail.png" 
           alt="MyWebsite Logo" 
           width="40" 
           height="40" 
           class="d-inline-block align-text-top">
      <!-- <span class="position-absolute top-50 start-50 translate-middle" 
            style="z-index: -1; font-size: 10px; font-weight: bold; color: #050606;">
        LensCrafters Studio
      </span> -->
    </a>

    <!-- Hamburger Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" 
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Menu -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="aboutus">About Us</a>
        </li>
      </ul>

      <!-- Search Bar -->
      <div class="mx-auto">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search photos or categories" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>

      <!-- Sign Up and Log In Buttons -->
      <div class="d-flex">
        <a href="signup" class="btn btn-primary me-2">Sign Up</a>
        <a href="login" class="btn btn-outline-primary">Log In</a>
      </div>
    </div>
  </div>
</nav>
